.big-card-label__container{
    position: absolute;
    bottom: 50px;
    left: 0;
    max-width: 100%;
    min-width: 100%;
}

.big-card-label__content{
    align-items: center;
    color: white;
    padding-bottom: 20px;
    margin-bottom: 0;
    
}
.big-card-label__content h3{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
}

.big-card-label__content p{
    font-family: 'inter';
    grid-template-columns: auto;
    align-items: center;
    color: rgb(99, 99, 99);
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}