<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="../../../assets/imgs/logo_epic.png" alt="" width="35px" height="40px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.linkedin.com/in/felipe-victor/">Linkedin</a></li>
            <li><a href="https://github.com/Dev-Instict?tab=repositories">Github</a></li>
            <li><p>|</p></li>
            <li><a href="https://dev-instict.github.io/portfolio/">Portfolio</a></li>
        </ul>
    </div>
</div>