.extreme-card-label__container{
    position: absolute;
    bottom: 80px;
    left: 0;
    margin-left: 15px;
    margin-bottom: 15px;
   
}

.extreme-card-label__content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 400px;
    padding-bottom: 100px;
    margin-bottom: 0;
    padding: 15px 0px;
    
}

.extreme-card-label__content h3{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 20px;
}