
<div class="home__container">

    <div class="home__container-nav-bar">
        <app-nav-bar></app-nav-bar>
    </div>
    <div class="home__container-card-duble">
        <app-extreme-card gameCover="assets/imgs/fifa.png" gameTitle="Aproveite o melhor modo carreira já adicionado, fica no topo e seja uma estrela do esporte"></app-extreme-card>

        <div class="home__container-card-small">
            <app-small-card gameCover="assets/imgs/gta.png" gameTitle="GTA V"></app-small-card>
            <app-small-card gameCover="assets/imgs/gree.jpg" gameTitle="Greed Fall"></app-small-card>
            <app-small-card gameCover="assets/imgs/sain.jpg" gameTitle="Saint Row"></app-small-card>
            <app-small-card gameCover="assets/imgs/forza.jpg" gameTitle="Forza Horizon"></app-small-card>
        </div>
    </div>

    <div class="home__container-titulo">
        <app-titulo titleText = "Recomendado para você"></app-titulo>
    </div>
 
    <div class="home__container-card-normal">
      
        <app-card gameCover="assets/imgs/call.png" gameDesc="-3%" gameName="BASE" gameTitle="Call of Duty" gamePriceBef="R$ 149,99" gamePriceAft="R$ 75,99"></app-card>

        <app-card gameCover="assets/imgs/dog.jpg" gameDesc="-25%" gameName="BASE" gameTitle="Watch Dogs" gamePriceBef="R$ 220,99" gamePriceAft="R$ 80,99"></app-card>
    
        <app-card gameCover="assets/imgs/mine.jpg" gameDesc="-25%" gameName="BASE" gameTitle="Minecraft" gamePriceBef="R$ 99,99" gamePriceAft="R$ 45,99"></app-card>
    
        <app-card gameCover="assets/imgs/elden.jpg" gameDesc="-25%" gameName="BASE" gameTitle="Elden Ring" gamePriceBef="R$ 349,99" gamePriceAft="R$ 210,99"></app-card>
    
        <app-card gameCover="assets/imgs/how.jpg" gameDesc="-25%" gameName="BASE" gameTitle="hogwarts legacy" gamePriceBef="R$ 649,99" gamePriceAft="R$ 264,99"></app-card>
    
        <app-card gameCover="assets/imgs/tls.png" gameDesc="-25%" gameName="BASE" gameTitle="The Last Of Us" gamePriceBef="R$ 345,00" gamePriceAft="R$ 142,00"></app-card>

        <app-card gameCover="assets/imgs/kill.jpg" gameDesc="-25%" gameName="BASE" gameTitle="KillZone 2" gamePriceBef="R$ 200,00" gamePriceAft="R$ 85,00"></app-card>

        <app-card gameCover="assets/imgs/need.jpg" gameDesc="-25%" gameName="COMPLETE EDITION" gameTitle="Need For Speed" gamePriceBef="R$ 230,00" gamePriceAft="R$ 110,00"></app-card>
    </div>

    <div class="home__container-titulo">
        <app-titulo titleText = "Mais jogados!"></app-titulo>
    </div>
 

    <div class="home__container-card-big">
        <app-big-card gameCover="assets/imgs/spider.jpg" gameDesc="-25%" gameTitle="Spider-man " gamePriceBef="R$ 350,00"></app-big-card>

        <app-big-card gameCover="assets/imgs/cyb.jpg" gameDesc="-25%" gameTitle="CyberPunk 2077" gamePriceBef="R$ 240,00"></app-big-card>

        <app-big-card gameCover="assets/imgs/god.png" gameDesc="-25%" gameTitle="God of War Ragnarok" gamePriceBef="R$ 300,00"></app-big-card>
    </div>

</div>