<div class="home__container">
    <app-card gameCover="assets/imgs/call.png" gameDesc="-3%" gameName="BASE" gameTitle="Call of Duty" gamePriceBef="R$ 149,99" gamePriceAft="R$ 75,99"></app-card>
    <app-card gameCover="assets/imgs/fifa.png" gameDesc="-25%" gameName="BASE" gameTitle="Fifa 2024" gamePriceBef="R$ 649,99" gamePriceAft="R$ 275,99"></app-card>
    <app-card gameCover="assets/imgs/mine.jpg" gameDesc="-25%" gameName="BASE" gameTitle="Minecraft" gamePriceBef="R$ 99,99" gamePriceAft="R$ 45,99"></app-card>
    <app-card gameCover="assets/imgs/elden.jpg" gameDesc="-25%" gameName="BASE" gameTitle="Elden Ring" gamePriceBef="R$ 349,99" gamePriceAft="R$ 210,99"></app-card>
    <app-card gameCover="assets/imgs/how.jpg" gameDesc="-25%" gameName="BASE" gameTitle="hogwarts legacy" gamePriceBef="R$ 649,99" gamePriceAft="R$ 264,99"></app-card>
    <app-card gameCover="assets/imgs/tls.png" gameDesc="-25%" gameName="BASE" gameTitle="The Last Of Us" gamePriceBef="R$ 345,00" gamePriceAft="R$ 142,00"></app-card>
</div>