@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Open+Sans:wght@300;400;500;600&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
body{
    background-color: #121212;
}