.big-card__container{
    position: relative;

    width: 460px;
    height: 380px;
    overflow: hidden;

    display: flex;
    margin-top: 10px;
}
.big-card__container > a{
    min-width: 78%;
    max-width: 78%;
    max-height: 90%;
    margin-top: 0;
}

.big-card__img{
    width: 120%;
    min-height: 78%;
    max-height: 78%;
    transition: transform .8s;
    border-radius: 20px;
    
}
.big-card__img:hover{
    transform: scale(1.03);
    filter: contrast(0.7);
}
